body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    border: 1px solid black;
    margin: 5px;
    font-size: 0;
    padding: 5px;
    background-color: #566385;
    width: 380px;
}

.display {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 50px;
    height: 75px;
    background-color: #ffffff;
    margin: 1px;
    padding-right: 2px;
}

.firstRow > button, .secondRow > button, .thirdRow > button {
    width: 75px;
    height: 75px;
}

.zero, .equals {
    width: 152px;
    height: 75px;
}

.period {
    width: 75px;
    height: 75px;
}

button {
    font-size: x-large;
    background-color: #ffffff;
    margin: 1px;
}

.AC, .DEL {
    background-color: #FF9900;
}

.firstRow, .secondRow, .thirdRow, .fourthRow  {
    display: flex;
}