body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 95vh;
    justify-items: space-between;
}

h1 {
    color: white;
    font-size: 100px;
}
.container {
    border: 5px solid darkslateblue;
    margin: 5px;
    font-size: 0;
    padding: 5px;
    background-color: #b1c4f3;
    width: 550px;
}

.display {
    border: 5px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 50px;
    height: 75px;
    background-color: #ffffff;
    margin: 1px;
    padding-right: 2px;
}

.firstRow > button, .secondRow > button, .thirdRow > button {
    width: 75px;
    height: 75px;
}

.zero, .equals {
    width: 152px;
    height: 75px;
}

.period {
    width: 75px;
    height: 75px;
}

button {
    font-size: x-large;
    background-color: #ffffff;
    margin: 1px;
    border: none;
}

.AC, .DEL {
    background-color: #FF9900;
}

.firstRow, .secondRow, .thirdRow, .fourthRow  {
    display: flex;
    justify-content: center;
}

.add, .divide, .subtract, .multiply {
    background-color: rgb(120, 120, 255);
    color: white;
}

footer {
    margin-top: auto;
    color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: darkslateblue;
}

a {
    color: white;
    text-decoration: none;
}

.clicked {
    border: 3px solid darkslateblue;

}

.clickedOperator {
    border: 3px solid darkslateblue;
}

.clickedDEL {
    border: 3px solid rgb(136, 75, 0);
    background-color: rgb(136, 75, 0);
}

.clickedAC {
    border: 3px solid rgb(136, 75, 0);
    background-color: rgb(136, 75, 0);
}